# Data Science Tools and Ecosystem

##Author
Narayanan J

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages used by Data Scientists
* List of common libraries used by Data Scientists
* List of tools used by Data Scientists
* Sample artihmetic expressions
* Sampe code snippets

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
1.   Julia

Some of the commonly used libraries used by Data Scientists include:

*   NumPy
*   Pandas
*   PyTorch
*   Seaborn
*   Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

* 5 + 3
* 5 - 3
* 5 / 2

In [3]:
200 /60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335